<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Refactoring Tool</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/2-col-portfolio.css" rel="stylesheet">
	<script src="js/jquery-3.1.1.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<script>
		var selectedFile,refactMethods,inputName;

		jQuery(document).ready(function() {
			$("#alert").hide();
			$("#inputCode").text("");
			$("#refactoredCode").text("");
			jQuery("input:file").change(function(event) {
				selectedFile = $('#fileinput')[0].files[0];
				$("#alert").show();
				if (selectedFile) {
					if(selectedFile.type == 'application/javascript'){
						if(selectedFile.size > 0){
							$("#alert").attr("class", "alert alert-info");
							$("#content").text("");
							inputName = selectedFile.name;
							$("#fileName").text("File Name: "+inputName);
							$("#fileSize").text("File Size: "+selectedFile.size +" bytes");
							$("#inputCode").text("");
							$("#refactoredCode").text("");
							readFile(selectedFile);
						}
						else{
							$("#inputCode").text("");
							$("#refactoredCode").text("");
							$("#alert").attr("class", "alert alert-warning");
							$("#content").text("Uploaded file is empty.");
							$("#fileName").text("");
							$("#fileSize").text("");
						}
					}
					else{
						$("#inputCode").text("");
						$("#refactoredCode").text("");
						$("#alert").attr("class", "alert alert-warning");
						$("#content").text("Wrong file. Please upload your JavaScript file.");
						$("#fileName").text("");
						$("#fileSize").text("");
					}
				}
				else{
					$("#inputCode").text("");
					$("#refactoredCode").text("");
					$("#alert").attr("class", "alert alert-warning");
					$("#content").text("Please upload your JavaScript file.");
					$("#fileName").text("");
					$("#fileSize").text("");
				}
			});
		})

		$(document).ready(function() {
			$('input[name="methods"]').attr('checked', true);
			$("#refactAlert").hide();
			$("#refactBtn").click(function(){
				refactMethods = $('input[name="methods"]').map(function() {
          if (this.checked) return this.value;
          else return "";
				}).get();
				if(refactMethods.length >= 1){
					if($("#inputCode").val().length > 0){
						$("#refactAlert").hide();
						$('#confirm').modal({ backdrop: 'static', keyboard: false })
							.one('click', '#okBtn', function() {
							$('input[name="methods"]').attr('checked', false);
							console.log("start");
							sendData();
						});
					}
					else{
						$("#refactAlert").show();
						$("#refactAlert").attr("class", "alert alert-warning");
						$("#msgContent").text("Plese upload your JavaScript file.");
					}
				}
				else{
					$("#refactAlert").show();
					$("#refactAlert").attr("class", "alert alert-warning");
					$("#msgContent").text("Plese select refactoring methods");
				}
			});
		});



		function readFile(file){
			var reader = new FileReader();
			reader.onload = function(progressEvent){
				var lines = this.result.split('\n');
				for(var line = 0; line < lines.length; line++){
					$("#inputCode").append(lines[line]+ '&#xA;');
				}
			};
			reader.readAsText(file);
		}

		function sendData(){
			var reactrings = refactMethods;
			var fd = new FormData();
			fd.append("nonstcode", selectedFile);
			fd.append("body", reactrings);

			$.ajax({
				url: '/send_file',
				type: "POST",
				data: fd,
				processData: false,
				contentType: false,
				success: function(response) {
					if(response == 'success'){
						console.log(response);
						getRefactoredFile();
					}
				},
				error: function(jqXHR, textStatus, errorMessage) {
					console.log(errorMessage);
				}
			});
		}

		function readRefactoredCode(data){
			var code = String(data);
			console.log(code);
			var lines = code.split('\n');
			for(var line = 0; line < lines.length; line++){
				$("#refactoredCode").append(lines[line] + '&#xA;');
			}
		}

		function getRefactoredFile(){
			$.ajax({
				url: '/refactoredcode',
				type: "GET",
				success: function(response) {
					readRefactoredCode(response)
				},
				error: function(jqXHR, textStatus, errorMessage) {
					console.log(errorMessage);
				}
			});
		}

		function download(){

			//var textToWrite = document.getElementById("refactoredCode").value;
			var textToWrite = $("#refactoredCode").val()
			var textFileAsBlob = new Blob([textToWrite], {type:'application/javascript'});
			var fileNameToSaveAs = "refactored_"+inputName;

			var downloadLink = document.createElement("a");
			downloadLink.download = fileNameToSaveAs;
			downloadLink.innerHTML = "Download File";
			if (window.webkitURL != null){
				// Chrome allows the link to be clicked
				// without actually adding it to the DOM.
				downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
			}
			else{
				// Firefox requires the link to be added to the DOM
				// before it can be clicked.
				downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
				downloadLink.onclick = destroyClickedElement;
				downloadLink.style.display = "none";
				document.body.appendChild(downloadLink);
			}

			downloadLink.click();
			location.reload();
		}

	</script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Wiki</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Automated Refactoring Tool
                </h1>
            </div>
        </div>
        <!-- /.row -->

		<!-- Input -->
        <div class="row">
            <div class="col-lg-6 portfolio-item">
                <div id="alert">
					<p id="content"></p>
					<p id="fileName"></p>
					<p id="fileSize"></p>
				</div>
				<div>
					<input type="file" id="fileinput"  class="btn btn-primary"/>
				</div>
            </div>
			<div class="col-lg-6 portfolio-item">
				<div id="refactAlert">
					<p id="msgContent"></p>
				</div>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Refactoring Methods
					<span class="caret"></span></button>
					<ul class="dropdown-menu" >
						<li style="padding-left: 10px;"><label><input type="checkbox" name="methods" value="AIM">Adding inline methods</label></li>
						<li style="padding-left: 10px;"><label><input type="checkbox" name="methods" value="EV">Extracting variables</label></li>
						<li style="padding-left: 10px;"><label><input type="checkbox" name="methods" value="RAP">Removing assignment to parameters</label></li>
						<li style="padding-left: 10px;"><label><input type="checkbox" name="methods" value="CM">Combine multiple If-Else statements together </label></li>
						<li style="padding-left: 10px;"><label><input type="checkbox" name="methods" value="CD">Consolidate duplicate conditional fragments</label></li>
						<li style="padding-left: 10px;"><label><input type="checkbox" name="methods" value="RNC">Replace nested conditionals</label></li>
						<li style="padding-left: 10px;"><label><input type="checkbox" name="methods" value="RCF">Remove control flags</label></li>
						<li style="padding-left: 10px;"><label><input type="checkbox" name="methods" value="RSNF">Rename Short Names Function</label></li>
						<li style="padding-left: 10px;"><label><input type="checkbox" name="methods" value="RPNF">Rename Poor Names Function</label></li>
						<li style="padding-left: 10px;"><label><input type="checkbox" name="methods" value="PM">Parameterize Methods</label></li>
						<li style="padding-left: 10px;"><label><input type="checkbox" name="methods" value="RPMC">Replace Parameter with method call</label></li>
						<li style="padding-left: 10px;"><label><input type="checkbox" name="methods" value="PM">Remove Parameter</label></li>

					</ul>
				</div>
				<div style="padding-top: 10px;">
					<button type="button" class="btn btn-primary" id="refactBtn">Refactor</button>
					<button type="button" class="btn btn-primary" id="downBtn" onclick="download()">Download</button>

				</div>
				<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
						<div class="modal-header">
							Confirm Information
						</div>
						<div class="modal-body">
							Are you sure want to start refactoring process?
						</div>
						<div class="modal-footer">
							<button type="button" data-dismiss="modal" class="btn btn-primary" id="okBtn">OK</button>
							<button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
						</div>
						</div>
					</div>
				</div>
            </div>
        </div>
        <!-- /.row -->

		<!-- Projects Row -->
        <div class="row">


        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-lg-6 portfolio-item">
                 <h3>
                    <a href="#">Input Code</a>
                 </h3>
                <a href="#">
                   <textarea name="comment" id="inputCode" rows="40" cols="78" readonly></textarea>
                </a>
            </div>
            <div class="col-lg-6 portfolio-item">
                 <h3>
                    <a href="#">Refactored Code</a>
                 </h3>
                <a href="#">
                   <textarea name="comment" id="refactoredCode" rows="40" cols="78" ></textarea>
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
